<div class="container p-5">

  <div class="my-3 text-center text-danger">
    <h3>LEADERBOARD</h3>
  </div>
  <table class="table table-striped ">
    <thead class="table-dark">
    <tr>
      <th class="text-uppercase">#</th>
      <th class="text-uppercase col-4">Team</th>
      <th class="text-uppercase">Win</th>
      <th class="text-uppercase">Draw</th>
      <th class="text-uppercase">Lost</th>
      <th class="text-uppercase">Points</th>
    </tr>
    </thead>

    <thead>
    <tr *ngFor="let item of teams; let i = index">
      <td class="text-uppercase">{{ i+1}}</td>
      <td class="text-uppercase col-4">{{ item.name}}</td>
      <td class="text-uppercase">{{item.win}}</td>
      <td class="text-uppercase">{{item.draw}}</td>
      <td class="text-uppercase">{{item.lost}}</td>
      <td class="text-uppercase">{{item.points}}</td>
    </tr>
    </thead>

  </table>
</div>
