<div class="container p-5">

  <div class="my-3 text-center text-danger">
    <h3>LEADERBOARD</h3>
  </div>
  <table class="table table-striped ">
    <thead class="table-dark">
    <tr>
      <th class="text-uppercase">#</th>
      <th class="text-uppercase col-4">Team</th>
      <th class="text-uppercase">Win</th>
      <th class="text-uppercase">Draw</th>
      <th class="text-uppercase">Lost</th>
      <th class="text-uppercase">Points</th>
    </tr>
    </thead>

    <thead>
    <tr>
      <td class="text-uppercase">#</td>
      <td class="text-uppercase col-4">Team</td>
      <td class="text-uppercase">Win</td>
      <td class="text-uppercase">Draw</td>
      <td class="text-uppercase">Lost</td>
      <td class="text-uppercase">Points</td>
    </tr>
    </thead>

  </table>
</div>
