<div class="container p-5">

  <div class="my-3 text-center text-danger">
    <h2>MATCHES</h2>
  </div>

    <div class="col-12 py-3">
      <div class="row">
        <div class="col-6">

          <h5 class="text-primary">Upcoming matches</h5>
          <div class="col-12 mb-3">
            <div class="card bg-dark text-white">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-5 text-center">
                    <h3>OMEGA</h3>
                  </div>
                  <div class="col-2 ">
                    <h4 class="text-center">VS</h4>
                  </div>
                  <div class="col-5 text-center">
                    <h3>ALPHA</h3>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="col-6">
          <h5 class="text-dark">Matches finished</h5>
          <div class="col-12 mb-3">
            <div class="card bg-light border-0">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-5 text-center">
                    <h3>OMEGA</h3>
                  </div>
                  <div class="col-2 ">
                    <h4 class="text-center">4 - 1</h4>
                  </div>
                  <div class="col-5 text-center">
                    <h3>ALPHA</h3>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-5 text-center">
                    <h6>1</h6>
                  </div>
                  <div class="col-2 ">
                    <p class="text-center">goals</p>
                  </div>
                  <div class="col-5 text-center">
                    <h6>2</h6>
                  </div>
                </div>


                <div class="text-center mt-3">
                  <span class="text-danger"></span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

